h4 {
  margin: 10px 0 10px 5px;
}
h5 {
  margin: 5px;
}
ul.events {
  margin: 0 0 5px 5px;
}
/*First event has no border */
.first-event {
  width: 98%;
  margin: auto;
}
/*All other events have a border*/
div.events {
  border-top: 1px solid grey;
  width: 98%;
  margin: auto;
}
.myCal {
  margin: auto;
}
.events-wrapper {
  margin: auto;
  border: 1px solid grey;
  width: 98%;
}
.section-header {
  width: 98%;
  margin: auto;
  margin-bottom: 10px;
  color: #52B2BF;
}
.myCal {
  margin: auto;
}
#register-button {
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  margin-bottom: 10px;
}
input.text-entry {
  margin-left: 20px;
}
li.text-entry {
  text-align: right;
  margin-right: 110px;
  margin-bottom: 5px;
}
ul.manage-event {
  width: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#remove-button {
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  color: red;
  margin: 0 0 10px 5px;
}
#manage-header {
  border-bottom: 1px solid grey;
}
#dash-header {
  margin: 20px 0 10px 0;
}
.event-header {
  width: 98%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #808000;
}
button.make-event {
  background-color: transparent;
  outline: none;
  border: 3px solid #52B2BF;
  border-radius: 3px;
}
button.manage-view {
  border:none;
   background-color:transparent;
   outline:none;
   font-size: 18px;
   margin-left: 20px;
   margin-bottom: 10px;
   text-decoration: underline;
   color: #52B2BF;
}
@media screen and (min-width: 961px) {
  .calendar-div {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 400px;
    text-align: center;
  }
}
@media screen and (max-width: 960px) {
  .calendar-div {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 400px;
    text-align: center;
  }
}