h1 {
  color: #808000;
}
h3 {
  color: #808000;
}
html {
  font-size: 16px;
}
li.landing {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  border-radius: 2px;
  background-color: white;
  color: #808000;
  width: auto;
  padding: 3px;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul.nav {
  padding-left: 20px;
}
button.header {
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
  color: #808000;
}
header.App-header {
  font-size: 14px;
  background-color: #52B2BF;
  border-radius: 2px;
  padding: 2px;
}
button {
  background-color: transparent;
}
@media screen and (min-width: 961px) {
  img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 20px;
  }
  /*Display all options button when screen size is small*/
  #nav-sel {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 5vw;
  }
  li.navs {
    display: none;
  }
}